{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap4 %}

{% block content %}
<br>
<br>
<body>
    <div class="container" style="padding-left:100px !important;">
        <div class="row">
            <div class="col-md-8">
                <form action="{% url 'add_gym' %}" method="POST" enctype="multipart/form-data" style="font-weight:bold !important;">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-success btn-md" value="POST">
                </form>
            </div>
        </div>
    </div>
</body>
<style>
    body{
      font-family:'PT Serif', serif;
    }
    </style>
{{ form.media }}
{% endblock %}