{% extends 'base.html'%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
{{block.super}}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



{% endblock %}
{% block content %}
<br> 
<div class="container" style="padding-left: 80px;">
    <div class="row">
      {% for gym in gyms %}
      <div class="col-xs-12 col-sm-6 col-md-4 images">
        <div class="card" style="width:100% !important;box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 23px 0 rgba(0, 0, 0, 0.06);">
          <div class="card-header">
            <h4><b>{{gym.id}}) {{gym.name}}</b></h4>
          </div>
          <div class="card-body">
              <img src="{{gym.image.url}}"  data-toggle="modal" data-target="#exampleModalCenter{{photo.id}}" class = "img-responsive imagee" alt="" style="height:350px;width: 100% !important;position: center;size: cover;">
              <br>
              <br>
              <p><b>Location:</b> {{gym.location}}</p>
              <p><b>Description:</b> {{gym.description}}</p>
              <p><b>Working Hours:</b> {{gym.working_hours}}</p>

          
          </div>
          
        </div>
        <br>
      </div>
      {% endfor %}
    </div>
  </div>



{% endblock %}
{% block scripts %} {{block.super}}

{% endblock %}